.btn-add:hover {
  transform: scale(1.2);
  transition: 0.2s;
  box-shadow: 0 0 10px aqua,
              0 0 20px aqua,
              0 0 30px aqua;
}
.btn-check:hover {
  transform: scale(1.2);
  transition: 0.2s;
  box-shadow: 0 0 10px aqua,
              0 0 20px aqua,
              0 0 30px aqua;
}

.btn-add:active {
  transition: 0.1s;
  transform: scale(1);
  box-shadow: none;
}

.btn-check:active {
  transition: 0.1s;
  transform: scale(1);
  box-shadow: none;
}

.local-btn:hover {
  transform: scale(1.2);
  transition: 0.2s;
  box-shadow: 0 0 10px aqua,
  0 0 20px aqua,
  0 0 30px aqua;
}

.local-btn:active {
  transition: 0.1s;
  transform: scale(1);
  box-shadow: none;
}